// versione light

$color-primary: #5a1889;
$color-secondary: #daa6e8;
//$color-background: rgb(255, 255, 218);
$color-background: rgba(221, 211, 253, 0.716);
// // versione dark
// $color-primarydark: #e4e2de;
// $color-secondarydark: #daa6e8;
